#containerCentral {
  height: 100vh;
  max-height: 600px;
  width: 90%;
  margin-left: 15px;
}

#containerCentral > h1 {
  color: var(--color);
}

#containerCentral > p {
  margin-top: 15px;
  text-align: justify;
}

#linkInicio {
  align-self: flex-start;
  color: var(--color);
}
